/* Styles for the background image */
.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('background.jpg'); /* Replace 'background.jpg' with the path to your image */
  background-size: cover;
  z-index: -1; /* Set a z-index to place it behind other elements */
  overflow: hidden; /* Hide overflowing content */
}

/* Styles for the student birthdays list */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  font-size: 18px;
}

/* Centering the h1 element */
h1 {
  color: white;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 10px;
}

.birthdayList {
  background-color: wheat;
  border: 6px solid white;
  text-align: center;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 30px;
  padding: 15px;
  float: left; /* Float to the left */
  margin-right: 40px; /* Margin to push it away from the right */
  width: 70%; /* Adjust the width as needed */
  max-width: 900px; /* Limit the maximum width */
}
.birthdayList li {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  list-style-type: none;
}


/* Styles for the student list container */
.studentList {
  background-color: #6feeff;
  border: 6px solid rgb(2, 25, 31);
  margin-top: 30px;
  margin-right: 10px;
  border-radius: 3px;
  padding: 15px;
  float: right; /* Float to the right */
  width: 40%; /* Adjust the width as needed */
  max-width: 400px; /* Limit the maximum width */
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 400px; /* Limit the height of the list */
}
.check{
  background-color: wheat;
  border: 6px solid white;
  text-align: center;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 30px;
  padding: 15px;
  float: left; /* Float to the left */
  margin-right: 40px; /* Margin to push it away from the right */
  width: 70%; /* Adjust the width as needed */
  max-width: 900px; /* Limit the maximum width */
}
.check ul {
  list-style-type: none;
  padding: 0;
}

.check li {
  margin-bottom: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Change font family */
  font-size: 24px; /* Change font size */
}

/* Add styles for the table if needed */
#studentTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center; /* Center align the content of the table */
}

#studentTable th, #studentTable td {
  border: 1px solid #0c0404;
  padding: 8px;
  text-align: left;
  text-align: center; /* Center align the content of the table */
}

#studentTable th {
  background-color: #f2f2f2;
}


/* Styles for the footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0; /* Remove margin */
  position: fixed;
  bottom: 0;
  width: 100%; /* Set width to 100% */
}
*{
  margin: 0px;
}
